.column-item {
  border-radius: $radius-primary;
  border: 2px dashed $color-primary;
  padding: 15px;
  width: 30%;

  &__heading {
    margin-bottom: 0;
  }

  &__ol {

  }

  &__load-button {
    display: block;
    margin: 15px auto 0;
    border: none;
    padding: 10px 30px;
    background-color: $color-primary;
    color: $color-white;
  }
}