.modal {
  &__wrapper {
    display: inline-flex;
    border: 1px solid #d0cccc;
    margin: 0 auto;
    background: white;
    transition: all .8s;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  }

  &__body {
    position: relative;
    padding: 35px;
    text-align: center;
    cursor: auto;
  }

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__image-caption {
    font-style: italic;
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    line-height: 20px;
    font-size: 30px;
    color: $color-black;
    cursor: pointer;

    &:hover {
      color: $color-black;
    }
  }
}

.modal-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 65px;
  right: 0;
  transform: translateX(100%) translateX(-50px);
  transition: transform 300ms ease;
  padding: 10px;
  width: auto;
  height: 60px;
  background-color: var(--color-primary);
  color: var(--color-font);

  @include media-breakpoint-up(md) {
    top: 80px;
  }

  &:hover {
    transform: translateX(0);
    background-color: var(--color-primary-darken);
    cursor: pointer;
  }

  &__icon {
    margin-right: 10px;
  }
}


