html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--color-background-color);
  min-height: 100%;
  line-height: 1.2;
  @include font-Montserrat;
  font-weight: setWeight(bold);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}