.primary-heading {
  @include font-Amatic;
  font-size: 36px;

  @include media-breakpoint-up(md) {
    font-size: 48px;
  }
}

.secondary-heading {
  font-size: 28px;

  @include media-breakpoint-up(md) {
    font-size: 36px;
  }
}

.small-heading {
  font-size: 21px;

  @include media-breakpoint-up(md) {
    font-size: 28px;
  }
}